{% extends "base.html" %}

{% block title %} About Us {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h1 class="display-4">About MyFinanceManager</h1>
            <p class="lead">Your ultimate tool for managing personal finances effectively and efficiently.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="p-4 rounded shadow-sm bg-dark text-light">
                    <h2 class="text-primary">Our Mission</h2>
                    <p>We aim to provide users with a comprehensive platform to track their finances, set savings goals, and make informed financial decisions.</p>
                    
                    <h2 class="text-primary">What We Offer</h2>
                    <p>Our platform includes features for income and expense management, savings goal tracking, detailed reports, and budget alerts to help you stay on top of your finances.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
